 @import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
*{
   margin:0;
   padding: 0;
}
html{
   background-color: cadetblue;

}
 body{
    font-family:"Roboto",sans-serif;
    height:1000px;
    width:830px;
    background-color: white;
    margin:0 auto;
 }
 h3{
   text-align: center;
   font-size: 30px;
   color:tomato;
   padding:10px;
   border-bottom: 1px solid #afafaf;
 }
 table{
   width:100%;
   margin-top:5px;
   padding:10px;
   border-collapse: collapse;

 }
table thead td{
   padding:5px;
   background-color: lightslategray;
   color:white;
}
table tbody td{
   padding:8px;
}
table tbody tr:nth-child(even){
   background-color: rgb(229, 231, 233);
}
.edit,.delete,.addbtn{
   text-decoration:none;
   color:white;
   background-color: rgb(68, 233, 68);
   padding:2px 10px 2px 10px;
   text-align: center;
   border-radius: 3px;
}
.delete{
   background-color: red;
}
p{
   text-align: right;
   padding:5px;
}
.addbtn{
 background-color: darkslategrey;
}
.form-group{
   margin-top: 20px;
   padding:10px;

}
.form-group label,.form-group input{
   display: block;
}
button{
   color:white;
   border:none;
   background-color:rgb(129, 36, 216);
   padding:2px 10px 2px 10px;
   border-radius: 3px;
   font-size:16px;
}
.alert{
   display: block;
   padding: 5px;
   background-color: forestgreen;
   border-radius: 3px;
   height:30px;
   color:white;
}
